<template>
  <page-layout name="Default">
    <v-container fluid fill-height>
      <v-layout
        justify-center
        align-center
      >
        <v-flex text-xs-center>
          <v-tooltip left>
            <v-btn icon large :href="source" target="_blank" slot="activator">
              <v-icon large>code</v-icon>
            </v-btn>
            <span>Source</span>
          </v-tooltip>
        </v-flex>
      </v-layout>
    </v-container>
  </page-layout>
</template>

<script>
export default {
  name: 'Dashboard',
  data: () => ({}),
}
</script>

<style lang="scss" scoped>

</style>
