<template>
  <page-layout name="Blank">
    <v-container fluid fill-height class="bg">
      <v-layout align-center justify-center>
        <v-flex xs12 sm6 md4 xl3>
          <v-card class="elevation-12 pa-4" color="rgba(255, 255, 255, .95)">
            <v-form @submit.prevent="submit">
              <v-card-title primary-title>
                <div>
                  <div class="font-weight-medium">Sign in to</div>
                  <h3 class="headline font-weight-light">Green side of life</h3>
                </div>
              </v-card-title>
              <v-card-text>
                <v-text-field
                  prepend-icon="mdi-account"
                  label="Email"
                  type="text"
                  v-model="loginForm.username">
                </v-text-field>
                <v-text-field
                  prepend-icon="mdi-lock"
                  label="Password"
                  :type="showPassword ? 'text' : 'password'"
                  v-model="loginForm.password"
                >
                </v-text-field>
              </v-card-text>

              <v-card-actions>
                <span>Not a member yet? <router-link to="/register">Create an account</router-link></span>
                <v-spacer></v-spacer>
                <v-btn :ripple="true" color="primary darken-2" type="submit">Sign in</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </page-layout>
</template>

<script>
export default {
  data: () => ({
    loginForm: {
        username: 'kontakt@knivstakocken.se',
        password: 'captal6cl!'
    }
  }),
  methods: {
    submit() {
      this.$store.dispatch('user/login', this.loginForm);
    },
  }
};
</script>

