<template>
  <page-layout class="bg">
    <v-container fluid fill-height justify-center align-center>
      <h1>PAGE NOT FOUND</h1>
    </v-container>
  </page-layout>
</template>

<script>
export default {
  components: {
    PageLayout: () => import(/* webpackChunkName: "page-layout" */ '../components/system/PageLayout')
  }
}
</script>

<style lang="sass" scoped>
  .bg
    background-color: #333
    color: #FFF
</style>
