<template>
  <page-layout name="Default">
    <v-container fluid fill-height class="bg">
          <v-layout align-center justify-center>
            <span v-text="form.firstName"></span>
          <v-flex xs12 sm6 md4 xl3>
            <v-card class="elevation-12 pa-4" color="rgba(255, 255, 255, .95)">
              <v-form @submit.prevent="submit">
                <v-card-title primary-title>
                  <div>
                    <div class="font-weight-medium">Profile</div>
                    <h3 class="headline font-weight-light">Edit your profile</h3>
                  </div>
                </v-card-title>
                <v-card-text>
                  <v-container fluid grid-list-xl pa-0>
                    <v-layout row wrap>
                      <v-flex xs6>
                        <v-text-field
                          label="First Name"
                          type="text"
        
                          flat
                          v-model="form.firstName">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs6>
                        <v-text-field
                          label="Last Name"
                          type="text"
        
                          flat
                          v-model="form.lastName">
                        </v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>

                  <v-text-field
                    label="Email"
                    type="text"
                    v-model="form.username">
                  </v-text-field>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn :ripple="true" color="primary darken-2" type="submit">Update</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
    </v-container>
  </page-layout>
</template>

<script>
export default {
  data: () => ({
    showPassword: false,
    form: {
      id: null,
      username: '',
      firstName: '',
      lastName: ''
    }
  }),

  methods: {
    submit() {
      this.$store.dispatch('user/update', this.form);
    },
  },
  created() {
    this.$store.dispatch('user/current').then(res => {
      this.form = res;
    });
  }
};
</script>