<template>
  <page-layout name="Blank">
    <v-container fluid fill-height class="bg">
          <v-layout align-center justify-center>
          <v-flex xs12 sm6 md4 xl3>
            <v-card class="elevation-12 pa-4" color="rgba(255, 255, 255, .95)">
              <v-form @submit.prevent="submit">
                <v-card-title primary-title>
                  <div>
                    <div class="font-weight-medium">Register</div>
                    <h3 class="headline font-weight-light">Create an account</h3>
                  </div>
                </v-card-title>
                <v-card-text>
                  <v-container fluid grid-list-xl pa-0>
                    <v-layout row wrap>
                      <v-flex xs6>
                        <v-text-field
                          label="First Name"
                          type="text"
        
                          flat
                          v-model="form.firstName">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs6>
                        <v-text-field
                          label="Last Name"
                          type="text"
        
                          flat
                          v-model="form.lastName">
                        </v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                  <v-text-field
                    label="Email"
                    type="text"
                    v-model="form.username">
                  </v-text-field>
                  <v-text-field
                    label="Password"
                    :type="showPassword ? 'text' : 'password'"
                    v-model="form.password"
                    :append-icon="showPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
                    @click:append="showPassword = !showPassword">
                  </v-text-field>
                </v-card-text>

                <v-card-actions>
                  <span>Already a member? <router-link to="/login">Sign in</router-link></span>
                  <v-spacer></v-spacer>
                  <v-btn :ripple="true" color="primary darken-2" type="submit">Create account</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
    </v-container>
  </page-layout>
</template>

<script>
export default {
  data: () => ({
    showPassword: false,
    form: {
        username: '',
        password: '',
        firstName: '',
        lastName: ''
    }
  }),
  methods: {
    submit() {
      this.$store.dispatch('user/register', this.form);
    },
  }
};
</script>