<template>
  <component :is="layout">
    <router-view :layout.sync="layout"/>
  </component>
</template>

<script>
export default {
  data() {
    return {
      layout: 'v-app'
    }
  }
}
</script>

<style lang="scss">
  .bg {
    background: url('http://knivstakocken.se/assets/img/bg-2.jpg') center center no-repeat;
    background-size: cover;
  }
</style>