<template>
<div id="app">
  <v-app id="inspire">
    <v-content>
      <slot/>
    </v-content>

    <logout-button/>
  </v-app>
</div>
</template>

<script>
export default {
  name: 'EmptyLayout',
  data: () => ({
    drawer: null
  }),
  components: {
    LogoutButton: () => import(/* webpackChunkName: "core" */ '../components/system/LogoutButton')
  }
}
</script>