<template>
  <div>
    <v-btn
      fab
      fixed
      top
      right
      @click="dialog = true"
    >
      <v-icon>mdi-logout-variant</v-icon>
    </v-btn>

    <v-dialog
      v-model="dialog"
      max-width="320"
      :persistent="persistent"
    >
      <v-card>
        <v-list class="pt-3 pb-2">
          <v-list-tile avatar>
            <v-list-tile-action>
              <v-icon color="error" large>mdi-alert</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>Du håller på att loggas ut</v-list-tile-title>
              <v-list-tile-sub-title>Vill du fortsätta?</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

        <!-- <v-divider></v-divider> -->

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color=""
            depressed
            @click="dialog = false"
          >
            Avbryt
          </v-btn>
          <v-btn
            color=""
            depressed
            @click="logout"
          >
            Fortsätt
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    persistent: true
  }),
  methods: {
    logout() {
      this.dialog = false;
      this.$store.dispatch('user/logout');
    }
  }
}
</script>
